doctype html

html
  head
    meta(charset='UTF-8')
    title Redux TodoMVC Example (Inject)
    style.
      html, body {
        background-color: rgba(0,0,0,0)
      }
    meta(http-equiv="Content-Security-Policy" content="default-src  'self' http://* https://* 'unsafe-inline';  connect-src 'self' http://* https://* 'unsafe-inline';   style-src 'self' https://* http://* 'unsafe-inline'; script-src 'self' http://* https://* 'unsafe-inline' 'unsafe-eval'")

  body
    #root
    script(src=env == 'prod' ? '/js/todoapp.bundle.js' : 'https://localhost:3000/js/todoapp.bundle.js')
