doctype html

html
  head
    meta(charset='UTF-8')
    title Lectio
    link(href="css/cmsgov.css" rel="stylesheet" type="text/css")
    link(href="uswds-2.1.0/css/uswds.min.css" rel="stylesheet" type="text/css")
    link(href="css/custom-style.css" rel="stylesheet" type="text/css")
    link(href="css/react-datepicker.css" rel="stylesheet" type="text/css")
    style.
      body { }
    meta(http-equiv="Content-Security-Policy" content="connect-src 'self' * 'unsafe-inline' https://* http://* data:; default-src 'self' * 'unsafe-inline';  style-src 'self' * 'unsafe-inline'; script-src-elem 'self' *; script-src 'self' * 'unsafe-inline' 'unsafe-eval';img-src 'self' * data: https: http: blob:;font-src 'self' * data:;")
    body
    #root
    script(src=env == 'prod' ? '/js/todoapp.bundle.js' : 'http://localhost:3000/js/todoapp.bundle.js')
    script(src="uswds-2.1.0/js/uswds.min.js")
    script(src="Readability.js")
    script(src="stripTags.js")
    script(src="moment.min.js")
