
.ck-editor__editable{
    height: calc(100vh - 380px);
    overflow-y: scroll;
}
#panel-edit .l-og-title{
    height: 60px !important;
    overflow-y: scroll;
}
#panel-edit .ck-sticky-panel__content{
    height: 38px !important;
}
#panel-edit .l-feature-img{
    height: 110px !important;
}
#panel-edit .l-clean-url{
    height: 30px!important;
}
#panel-edit .l-submit-form{
    height: 40px !important;
}
#panel-edit .l-select-project{
    height: 40px !important;
} 
#metaDataContent{
    max-width: 499px !important;
}

#editableMetaContent .ck-editor__editable_inline {
    min-height: 400px !important;
    max-height: 400px !important;
    padding-bottom: 20px !important;
}
#feedBackContent {
    min-height: calc(100vh - 104px) !important;
    max-height: calc(100vh - 104px) !important;
}
#homePageForm .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
    border-left:0px !important;
    border-right:0px !important;
}
#homePageForm .ck.ck-editor .ck-editor__top .ck-sticky-panel .ck-toolbar{
    border-left:0px !important;
    border-right:0px !important;
}
#editableMetaContent .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
    border-left:0px !important;
    border-right:0px !important;
}
#editableMetaContent .ck.ck-editor .ck-editor__top .ck-sticky-panel .ck-toolbar{
    border-left:0px !important;
    border-right:0px !important;
}
#rss-feed-pretty .__json-pretty__{
    min-height: 345px !important;
}
#rssFeedContent ul{
    border-radius: 3px !important;
    padding: 2px 10px!important;
    background-color: #eae8e8 !important;
}
#rssFeedContent ul li, #rssFeedContent ul label, #rssFeedContent ul span {
    color:#000!important;
    font-weight: 500!important;
    font-size: 16px!important;
}
h4.usa-accordion__heading.site-accordion-code {
    border-top: 1px solid #ddd;
    margin-top: unset;
}
@media (min-width: 544px){
.ds-l-container {
    padding-left: 16px !important;
    padding-right: 0px !important;
}
h4.usa-accordion__heading.site-accordion-code {
    border-top: 1px solid #ddd;
    margin-top: unset;
}
input.ds-c-field.preview__label.ds-u-font-size--small.ds-u-font-style--normal.ds-u-border--1 {
    max-width: none;
}
#metaDataContent {
    max-width: unset !important; */
}
._1u1fMitnXoa-ybixJgIBfF {
    height: 50px !important;
    width: 50px !important;
}
}
