#homePageForm .ck-editor__editable_inline {
    min-height: 250px !important;
    max-height: 250px !important;
}
#editableMetaContent .ck-editor__editable_inline {
    min-height: 400px !important;
    max-height: 400px !important;
    padding-bottom: 20px !important;
}
#feedbackForm .ck-editor__editable_inline {
    min-height: 300px !important;
    max-height: 300px !important;
}
#homePageForm .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
    border-left:0px !important;
    border-right:0px !important;
}
#homePageForm .ck.ck-editor .ck-editor__top .ck-sticky-panel .ck-toolbar{
    border-left:0px !important;
    border-right:0px !important;
}
#editableMetaContent .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
    border-left:0px !important;
    border-right:0px !important;
}
#editableMetaContent .ck.ck-editor .ck-editor__top .ck-sticky-panel .ck-toolbar{
    border-left:0px !important;
    border-right:0px !important;
}
#rss-feed-pretty .__json-pretty__{
    min-height: 345px !important;
}
#rssFeedContent ul{
    border-radius: 3px !important;
    padding: 2px 10px!important;
    background-color: #eae8e8 !important;
}
#rssFeedContent ul li, #rssFeedContent ul label, #rssFeedContent ul span {
    color:#000!important;
    font-weight: 500!important;
    font-size: 16px!important;
}